.topbarWrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: #567086;
  text-align: center;
  position: -webkit-sticky;
}
.topbar {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: auto;
  margin-bottom: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoWrapper {
  width: 20%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoWrapper h2 {
  font-size: 20px;
  font-weight: 400;
}
.statusWrapper {
  width: 20%;
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.statusWrapper .logInOutBtn {
  display: block;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.statusWrapper .logInOutBtn:hover {
  color: #f5a623;
}
.logoWrapper > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 100;
  text-decoration: none;
}
.logoWrapper > a:hover {
  color: #f5a623;
}
.navWrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navWrapper .navLink {
  width: 20%;
  height: 100px;
  color: #fff;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  margin-left: 3px;
  margin-right: 3px;
}

.navLink:hover {
  color: #f5a623;
}

.navWrapper .navLinkClick {
  width: 20%;
  height: 100px;
  color: #fff;
  background-color: #f5a623;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  margin-left: 3px;
  margin-right: 3px;
}

.navWrapper a > i {
  font-size: 25px;
  margin-bottom: 5px;
}

.statusWrapper {
  width: 30%;
}

.Sidebar {
  display: none;
}

@media only screen and (min-width: 800px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .navWrapper {
    display: none;
  }

  .topbar {
    width: 95%;
  }
  .logoWrapper {
    width: 30%;
  }
  .statusWrapper > a {
    display: none;
  }

  .Sidebar {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
  }

  .Sidebar > i {
    width: 30px;
    height: 10px;
    position: relative;
    font-size: 25px;
    color: #fff;
    padding: 5px;
  }

  .sideBarNavigation {
    position: absolute;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #4e657a;
    right: 10%;
    top: 100px;
    justify-content: space-evenly;
    border: solid 1px #fff;
    z-index: 1;
  }

  .sideBarNavigation .navBtn {
    color: #fff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
  }

  .sideBarNavigation .navBtn:hover {
    background-color: #f5a623;
    color: #fff;
  }
  .statusWrapper .logInOutBtn {
    display: none;
  }
}

@media only screen and (min-width: 300px) and (max-width: 801px) and (-webkit-min-device-pixel-ratio: 1) {
  .navWrapper {
    display: none;
  }

  .topbar {
    width: 100%;
  }
  .logoWrapper {
    width: 40%;
  }
  .statusWrapper > a {
    display: none;
  }

  .Sidebar {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
  }

  .Sidebar > i {
    width: 30px;
    height: 10px;
    position: relative;
    font-size: 25px;
    color: #fff;
    padding: 5px;
  }

  .sideBarNavigation {
    position: absolute;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #4e657a;
    right: 10%;
    top: 100px;
    justify-content: space-evenly;
    z-index: 1;
    border: solid 1px #fff;
  }

  .sideBarNavigation .navBtn {
    color: #fff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
  }
  .sideBarNavigation .navBtn:hover {
    background-color: #f5a623;
    color: #fff;
  }
  .statusWrapper .logInOutBtn {
    display: none;
  }
}
