.addProductContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 50px auto;
  background-color: #435c70;
  padding: 30px;
}

.addProductContainer h1 {
  font-size: 20px;
  color: #fff;
  font-weight: 100;
}

.fromContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0 auto;
  flex-direction: column;
}

.fromContainer form {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.fromContainer form > div {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.fromWrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.uploadWrapper {
  width: 35%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
}

.fromWrapper div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.fromWrapper div label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 45%;
}

.fromWrapper label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #fff;
  width: 100%;
  margin-top: 20px;
}

.fromWrapper label input,
select {
  width: 100%;
  height: 50px;
  font-size: 15px;
  margin-top: 10px;
  border: none;
  outline: navajowhite;
  color: #fff;
  box-sizing: border-box;
  padding-left: 15px;
  background-color: #54657d;
  padding: 14px;
}
[type="date"] {
  background: #fff
    url(https://cdn4.iconfinder.com/data/icons/6x16-free-application-icons/16/Calendar.png)
    90% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.fromWrapper label textarea {
  width: 100%;
  height: 100px;
  font-size: 15px;
  margin-top: 10px;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 15px 10px;
  box-sizing: border-box;
  background-color: #54657d;
}

.uploadImg {
  width: 100%;
  height: 250px;
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.uploadImg .uploadBtnWrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border-radius: 40px;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  color: gray;
  background-color: white;
  padding: 8px 8px;
  font-size: 25px;
  font-weight: bold;
}

.previewImgWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  background: currentColor;
}
.previewImg {
  width: auto;
  height: 400px;
  background-color: darkgray;
  overflow: hidden;
}

.uploadBtnWrapper input[type="file"] {
  font-size: 100px;
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.uploadTextBtnWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.uploadTextBtnWrapper input[type="file"] {
  background-color: azure;
  margin-top: 20px;
  width: 100%;
  font-size: 48px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.button {
  width: 100%;
  height: 50px;
  outline: none;
  border: solid 2px #f5a623;
  font-size: 15px;
  font-weight: 600;
  color: cornsilk;
  background-color: #f5a623;
  margin-top: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: #f5a623;
}

@media only screen and (min-width: 800px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .fromContainer form > div {
    display: flex;
    width: 100%;
  }
  .fromContainer form > div {
    width: 100%;
    flex-direction: column-reverse;
  }
  .uploadWrapper {
    width: 100%;
  }

  .fromWrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 300px) and (max-width: 801px) and (-webkit-min-device-pixel-ratio: 1) {
  .fromContainer form > div {
    display: flex;
    width: 100%;
  }
  .fromContainer form > div {
    width: 100%;
    flex-direction: column-reverse;
  }
  .uploadWrapper {
    width: 100%;
  }

  .fromWrapper {
    width: 100%;
  }
}
