body {
  margin: 0;
  padding: 0;
  line-height: 1.7em;
  font-size: 12px;
  background: #f2f2f2;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {
  color: #0066aa;
  text-decoration: none;
}

a:visited {
  color: #0066aa;
  text-decoration: none;
}

a:active {
  color: #cc0066;
  text-decoration: underline;
}

a:hover {
  color: #cc0066;
  text-decoration: underline;
}

p {
  font-size: 13px;
}

b {
  font-size: 110%;
}

em {
  color: red;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
